body{
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}
html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}
.titleArea{
    align-content: center;
    background-color: black;
    margin-top: 5%;
    text-align: center;
}
.mapArea{
    margin-top: 5%;
    margin-right: 60%;
    margin-left: 10%;
    padding-bottom: 8%;
    background-color: white;
    text-align: center;
    width: 35%;
    height: 45%;
    float: left;
}
tl {
    background-color: black;
    color: white;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
allTl {
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
}
iframe{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60%;
    width: 70%;
}
.pieChartArea{
    margin-top: -29.9%;
    margin-right: 10%;
    margin-left: 75%;
    background-color: white;
    text-align: center;
    width: 42%;
    height: 53.8%;
    float: right;
}

.userTableArea{
    background-color: white;
    margin-top: 38%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.userTableSelect {
    font-family: Arial, Helvetica, sans-serif;
}
tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: honeydew;
    margin-bottom: 10%;
}

th, td {
    padding: 0.5%;
    border: 1px solid #ddd;
    text-align: center;
}